* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html {
    scroll-behavior: smooth;
}

nav {
    background: #1b1b1b;
    position: fixed;
    top: 0;
    width: 100%;
}

nav::after{
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #fff;  
    transition: all 0.07s ease-in-out;    
}

nav ul ul {
    border-top: solid 3px white;
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s ;
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul li a:hover{
    color: cyan;
    box-shadow: none;
}

.show, .icon, input {
    display: none;
}

.project {
    width: 90%;
    margin: 50px auto;
}

.project-heading {
    text-align: left;
    font-size: 24px;
    margin-top: 6rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.project-heading h1 {
    font-weight: normal;
    letter-spacing: 4px;
}

.project-content {
    margin-left: 50px;
    text-align: center;
    max-width: 100%;
}

.project-content h2 {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: normal;
    font-size: 46px;
    margin-bottom: 2rem;
}

.project-content p {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 24px;
}

.project-teachers{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.teachers-heading {
    text-align: left;
    margin-top: 3rem;
    font-size: 24px;
    text-transform: uppercase;
}

.teachers-heading h1 {
    font-weight: normal;
    letter-spacing: 3px;
}

.project-teacher-info{
    margin: 0 6rem;
    text-align: center;
}

.project-teacher-info img{
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.project-teacher-info h2 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.project-goals-content {
    display: flex;
    width: 60%;
    margin: 0 20%;
    flex-wrap: wrap;
    max-width: 60%;
    justify-content: space-between;
}

.project-goals-content-mobile {
    margin-top: 4rem;
    justify-content: space-around;
}

.project-goals-content p {
    margin-top: 1rem;
}

.project-goals-content-item-image {
    margin-bottom: 2rem;
}

.project-goals-content-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-documents{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.project-documents table{
    border-collapse: separate;
    border-spacing: 0 15px;
    margin-top: 1rem;
}

.project-documents th,
.project-documents td{
    padding: 1.2rem 4rem;
    text-align: center;
    font-weight: normal;
    box-shadow:  0px 0px 9px 0px rgba(0,0,0,0.1);
}

.project-documents th{
    background-color: #95A5A6;
}

.project-documents th:nth-child(1){
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.project-documents th:nth-child(3){
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.project-documents td:nth-child(1){
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.project-documents td:nth-child(3){
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.project-documents th:nth-child(1),
.project-documents td:nth-child(1),
.project-documents th:nth-child(2),
.project-documents td:nth-child(2){
    border-right: none;
}

.project-documents th:nth-child(2),
.project-documents td:nth-child(2),
.project-documents th:nth-child(3),
.project-documents td:nth-child(3){
    border-left: none;
}

.project-documents td button{
    border: none;
    background: none;
    font-size: 16px;
}

.project-documents td i {
    color: #000;
}

.project-documents td i:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.container {
    width: 90%;
    margin: 50px auto;
}

.heading {
    text-align: left;
    font-size: 24px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.heading h1 {
    font-weight: normal;
    letter-spacing: 4px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.imgbox img{
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card {
    width: 20%;
    border-radius: 6px;
    margin-bottom: 20px;
    transition: 0.3s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-body h1{
    font-size: 22px;
    font-weight: normal;
}

.card-body .card-email {
    margin: 0.5rem 0;
}

.card-body .card-team-role{
    font-family: 'Koho';
    font-size: 18px;
    font-weight: normal;
    margin: 0.5rem;
}

.card-content {
    margin: 1.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-social {
    margin-top: 1rem;
}

.card-social i {
    color: #000;
    font-size: 32px;
}

.card-social button {
    background: none;
    border: none;
}

.card-social button i:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.1s ease-in-out;
}

.fa-linkedin {
    margin-right: 1.5rem;
}

.doubt-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.doubt-section h2 {
    font-size: 30px;
    margin-bottom: 0.5rem;
}

.doubt-section span {
    color: rgb(88, 86, 86);
    margin-bottom: 1.5rem;
}

.doubt-section button{
    text-decoration: none;
    font-size: 16px;
    background-color: #000;
    color: white;
    padding: 0.9rem 2rem;
    border-radius: 18px;
    border: solid 2px #000;
}

.doubt-section button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: all 0.31s ease-in-out;
}

.footer {
    height: 5rem;
    width: 100%;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span {
    color: white;
}

@media all and (max-width: 960px) {
    nav ul {
        margin-right: 0;
        float: left;
    }

    nav .logo {
        padding-left: 30px;
        width: 100%;
    }

    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul li {
        border-bottom: none;
    }

    nav ul ul a {
        padding-left: 40px;
    }

    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover {
        color: cyan;
    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }   

    nav ul li a:hover {
        box-shadow: none;
    }

    .show + a, ul {
        display: none;
    }

    [id^=btn]:checked + ul {
        display: block;
    }

    .row {
        flex-direction: column;
    }

    .card {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .project-content{
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .project-content h2 {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        font-size: 40px;
    }

    .project-content p{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .project-documents th,
    .project-documents td{
        padding: 1rem;
    }

    .project-teachers{
        flex-direction: column;
    }

    .project-teacher-info:nth-child(1){
        margin-bottom: 4rem;
    }

    .project-goals-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        max-width: none;
        flex-wrap: nowrap;
    }

    .project-goals-content-item {
        margin-top: 2rem;
    }

    .project-goals-content-mobile {
        margin-top: 0;
    }
}