* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html {
    scroll-behavior: smooth;
}

nav {
    background: #1b1b1b;
}

nav::after{
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #fff;  
    transition: all 0.07s ease-in-out;    
}

nav ul ul {
    border-top: solid 3px white;
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s ;
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul li a:hover{
    color: cyan;
    box-shadow: none;
}

.show, .icon, input {
    display: none;
}

.project {
    width: 90%;
    margin: 50px auto;
}

.project-heading {
    text-align: left;
    font-size: 26px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.project-heading h1 {
    font-weight: normal;
    letter-spacing: 4px;
}

.project-content {
    margin-left: 50px;
}

.project-content h2 {
    font-weight: normal;
}

.project-teachers{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.teachers-heading {
    text-align: left;
    margin-top: 3rem;
    font-size: 26px;
    text-transform: uppercase;
}

.teachers-heading h1 {
    font-weight: normal;
    letter-spacing: 3px;
}

.project-teacher-info{
    margin: 0 6rem;
    text-align: center;
}

.project-teacher-info img{
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.project-teacher-info h2 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.project-documents table,
.project-documents th, 
.project-documents td{
    border: solid 1px #000;
    font-weight: normal;
}

.project-documents th {
    padding: 0.3rem;
}

.project-documents td{
    padding: 0.5rem;
    text-align: center;
}

.project-documents td i {
    color: #000;
}

.project-documents td i:hover{
    transform: scale(1.1);
}

.project-documents table{
    border-collapse: collapse;
    width: 50%;
    margin-top: 1rem;
    margin-left: 50px;
}

.container {
    width: 90%;
    margin: 50px auto;
}

.heading {
    text-align: left;
    font-size: 26px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.heading h1 {
    font-weight: normal;
    letter-spacing: 4px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.imgbox img{
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card {
    width: 20%;
    border-radius: 6px;
    margin-bottom: 50px;
    transition: 0.3s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-body h1{
    font-size: 22px;
    font-weight: normal;
}

.card-body .card-nmec{
    font-size: 18px;
    font-weight: normal;
    margin: 0.5rem;
}

.card-content {
    margin: 1.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-social {
    margin-top: 1rem;
}

.card-social i {
    color: #000;
    font-size: 32px;
}

.card-social a i:hover {
    transform: scale(1.15);
    transition: all 0.1s ease-in-out;
}

.fa-facebook {
    margin: 0 1.3rem;
}

.footer {
    height: 5rem;
    width: 100%;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span {
    color: white;
}

@media all and (max-width: 960px) {
    nav ul {
        margin-right: 0;
        float: left;
    }

    nav .logo {
        padding-left: 30px;
        width: 100%;
    }

    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul li {
        border-bottom: none;
    }

    nav ul ul a {
        padding-left: 40px;
    }

    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover {
        color: cyan;
    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }   

    nav ul li a:hover {
        box-shadow: none;
    }

    .show + a, ul {
        display: none;
    }

    [id^=btn]:checked + ul {
        display: block;
    }

    .row {
        flex-direction: column;
    }

    .card {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}